.App {
  height: 100vh;
  background-image: url(../../public/images/bg/bg_village.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}